
html, body {
    font-family: sans-serif;

    background-color: #eee;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: transform 1s;
}

.subgame {
    position: relative;
    margin-top: 0;
    transition: margin 0.5s;
}

.canvas {
    position: absolute;
    // Clean pixel art, please.
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.subgame-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1, 0.1);
}

.frame {
    position: absolute;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
}

.faded {
    margin-top: 3000px;
}