
html, body {
    font-family: sans-serif;

    background-color: #eee;
}

.content {
    display: flex;
    justify-content: center;
}

.canvas {
    border: solid 1px;
    // Clean pixel art, please.
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}